@import '../../variables';

.introduce{

    &__row-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;

    }

    &__about-me{
        padding: 0 10px 0 0px;
        flex: 1 0 50%;

    }

    &__image{
        padding: 0 0px 0 10px;
        flex: 1 0 50%;

    }
}

.about-me{

    &__title h2{
        font-size: 32px;
    }

    &__descr{
        opacity: 0.8;
        margin-top: 10px;
        color: $parTextClr;
        line-height: 1.56;
        font-size: 16px;
    }

    &__socials{

        margin: 20px 0;
    }

    &__buttons{

        .contact-btn{
            margin-right: 30px;
        }
    }
}

.socials-list{

    &__item{
        margin-bottom: 10px;

    }

    .item{

        &__title{
            display: block;
            float: left;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.66;
            color: $textClr;
        }

        &__text{
            display: block;
            padding-left: 150px;
            opacity: 0.8;
            color: $parTextClr;
            line-height: 1.56;
            font-size: 16px;
        }

        &__icons{
            display: block;
            padding-left: 150px;

            a{
                padding-right: 20px;
            }
        }
    }
}



.image-introduce{
    box-sizing: border-box;
    position: relative;
    padding-bottom: 56.2%;

}

.img-responsive{
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;

}